.reviews__list{
  background: black;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: rem(14px);
  height: 100vh;
}

.reviews__item{
  height:50%;
  width: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &:hover{
    .reviews__hover {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    }
  }

  @include tablets{
    height: 25%;
    width: 50%;
  }
}

.reviews__hover{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(#141414, .7);
  color: white;
  opacity: 0;
  visibility: hidden; //отменяет клик 
  padding: 0 rem(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @include phones{
    align-items: center;
   }
}

.reviews__title{
  font-family: 'gagalinregular';
  margin-bottom: rem(20px);

  @include phones{
    font-size: 24px;
    text-align: center;
   }
}

.reviews__text{
  font-family: 'ubuntulight';
  line-height: rem(25px);
  margin-bottom: rem(20px);

  @include phones{
    display: none;
   }
}

.button_reviews{
  width: 110px;
  height: 35px;
  // margin-right: rem(150px);
  background: #2f3234;
  text-transform: uppercase;
  font-size: rem(13px);
  font-family: 'ubuntumedium';
  cursor: pointer;

  @include phones{
    width: 100px;
    height: 30px;
   }
}