.sidebar{
  position: fixed;
  top: 85px;
  right: 45px;
  width: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__item{
  height: 16px;
  width: 16px;
}

.sidebar__link{
  height: 6px;
  width: 6px;
  display: block;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

.sidebar__link:before{
  display: block;
  content: "";
  height: 16px;
  width: 16px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar__link:hover:before, .sidebar__link_activ:before{
  border: 1px solid white;
}




